

body,
html{
     
    font-family: 'Clash Grotesk'
}

.active{
  color: #CB29BE;
  font-weight: bold;
}

/* styles.css */

/* Custom style for carousel indicators (dots) */
.custom-dot-list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-top: 20px;
 
}

.custom-dot {
  height: 55px;
  width: 5px;
  
}

.custom-dot-list li {
  margin: 10px 2px;
}

/* Active dot style */
.custom-dot-list .react-multi-carousel-dot--active button {
  background-color: white; /* Set the active bullet to white */
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}


ion-icon {
 
            color: white;
           position: relative;
           top: 50%;
           left: 50%;
            transform: translate(-50%, -50%);
}
